/* Denna fil skall innehålla din CSS kod */

#container {
    display: grid; 
    height: 812px;
    width: 375px;
    grid-template-areas:
    'nav'
    'hd'
    'mn'
    'mn'
    'ft'
}

nav {
grid-area: nav;
background-color: white;
width: 375px;
height: 40px;
}

header {
grid-area: hd;
background-color: white;
width: 375px;
height: 100px;
}

main {
grid-area: mn;
background: white;
width: 375px;
height: 500px;
}

footer {
    grid-area: ft;
    width: 375px;
    height: 172;
}

img {
    width: 100%;
}

#img2 {
    width: 39px;
    margin: 1px;
}


#img3 {
    width: 20%;
}

p {
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#fottext {
    display: block;
    text-align: center;
    margin: 32px;
    font-size: large;
    text-decoration-color: lightgrey;
}

body {
    background-image: url("../img/skog.jpg");
}

#index2 {
    background-image: url("../img/snoskog.jpg");
}

#index3 {
    background-image: url("../img/varmskog.jpg");
}
